@import "../../constants";

.actions-list {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 100%;
  overflow-y: auto;
  height: calc(100vh - 200px);
  &:not(:last-child){
    margin-bottom: 50px;
  }
}


.action-filters {
  margin-bottom: 10px;
  align-self: flex-end;
  display: flex;
  gap: 10px;
}
