@import '../../constants';

.report-card-container {
  border: 1px solid $primary-color;
  border-radius: 5px;
  background: $tertiary-color;
  color: $secondary-color;
  width: calc(50% - 40px);
  padding: 15px;
  display: flex;
  flex-direction: column;
  gap: 20px;

  .report-label {
    font-size: 0.8em;
    color: $primary-color;
    text-align: start;
  }

  .report-info {
    font-size: 1.2em;
    font-weight: bold;
    color: $secondary-color;
  }
}
