@import "../../constants";

.header {
  height: 80px;
  width: 100%;
  background-color: #282c34;
  text-align: center;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;

  .hamburger-icon {
    position: absolute;
    left:0;
    padding-left: 10px;
  }

  h1 {
    padding: 0 20px;
  }
}

.drawer {
  width: 100%;
  background: $secondary-color !important;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .drawer-item {
    padding: 10px 0;
    font-size: 1.5rem;
    color: white;
    text-decoration: none;
  }
}
