@import "../../constants";

.header {
  height: 80px;
  width: 100%;
  background-color: $secondary-color;
  display: flex;
  align-items: center;
  justify-content: center;

  h1 {
    margin: 0;
  }
}
