@import "../../constants";

.baby-profile-info {
  width: inherit;
  height: inherit;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;

  .baby-profile-image {
    z-index: 1;
    img {
      height: 200px;
      width: 200px;
      border-radius: 50%;
      border: 3px solid $primary-color;
    }
  }

  .baby-profile-data {
    width: 80%;
    background: $tertiary-color;
    color: $secondary-color;
    border-radius: 10px;
    padding-top: 100px;
    position: relative;
    top: -110px;

    .baby-name {
      font-size: 1.5rem;
      font-weight: bold;
      color: $primary-color;
      text-align: center;
    }

    p {
      margin-block-start: 0.5em;
      margin-block-end: 0.5em;
    }

    .baby-born-data {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-around;

      .baby-info {
        display: flex;
        align-items: center;
        gap: 10px;
      }
    }

    .baby-data {
      display: flex;
      flex-direction: row;
      justify-content: space-around;
    }
  }
}
