@import '../../constants';

.diary-item-container {
  border: 1px solid $primary-color;
  border-radius: 5px;
  display: flex;
  flex-direction: row;

  .icon-section {
    width: 15%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .body-section {
    width: 70%;

    .action-title {
      font-size: 1.2rem;
      font-weight: bold;
      color: $primary-color;
    }

    .action-time, .action-note {
      font-size: 1rem;
    }

    .create-date {
      text-align: end;
      font-size: 0.9rem;
      color: $tertiary-color;
    }
  }

  .body-actions {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    width: 15%;
    align-items: center;
  }

  .time-badge {
    background-color: $primary-color;
    color: $secondary-color;
    border-radius: 15px;
    padding: 5px;
    margin: 0 5px 0 5px;
    font-size: 0.8rem;
    display: inline-flex;
  }
}
