@import "constants";

.App {
  text-align: center;
  height: -webkit-fill-available;
  background: $secondary-color;
}

.App-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.app-body {
  height: calc(100vh - 180px);
  width: calc(100% - 20px);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}

.button {
  background: $tertiary-color;
  margin: 10px;
  padding: 10px;
  border-radius: 5px;
  color: $primary-color;
  text-decoration: none;
  border-style: none;
  font: inherit;

  &:disabled {
    background: gray;
    color: white;
    cursor: not-allowed;
  }

  .navigation-icon {
    color: $primary-color;
  }
}

.text-input {
  width: 100%;
  min-height: 38px;
  background-color: $secondary-color;
  border-color: $primary-color;
  border-radius: 4px;
  border-style: solid;
  border-width: 1px;
  box-sizing: border-box;
  color: white;
  font: inherit;
  padding: 2px 8px;
}

